<ion-content no-padding no-bounce>


  <img class="img-item" src="assets/imgs/menu.png" />

  <div class="btn-i btn-menu" routerLink="/main"></div>


  <div class="btn-container">
    <div class="btn-profile" routerLink="/profile"></div>
    <div class="btn-consult" routerLink="/consult"></div>
    <div class="btn-docs" routerLink="/docs"></div>
    <div class="btn-help" routerLink="/help"></div>
    <div class="btn-pay" routerLink="/pay"></div>

  </div>


  <img class="img-item" src="assets/imgs/menu.png" />

</ion-content>